:root {
  --white-color: rgba(255, 255, 255, 1);
  --link-color: rgba(117, 117, 117, 1);
  --brand-color: rgba(33, 150, 243, 1);
  --second-brand-color: rgba(0, 0, 0, 1);
  --second-background: rgba(47, 48, 58, 1);
  --second-link-color: rgba(255, 255, 255, 0.6);
  --button-color: rgba(245, 244, 250, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(33, 33, 33, 1);
  background-color: var(--white-color);
}

.background-block {
  background-color: var(--second-background);
}

.webstudio-top {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--second-brand-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.blue-text {
  color: var(--brand-color);
}

.list-styling {
  list-style-type: none;
}

.navigation-button {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-button:visited {
  color: inherit;
}

.navigation-button:hover,
.header-address:hover,
.navigation-button:focus,
.header-address:focus {
  color: var(--brand-color);
  outline: none;
}

.header-address {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
}

.main-page-button {
  background-color: var(--brand-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.main-page-button:hover,
.main-page-button:focus {
  cursor: pointer;
}

.main-image {
  height: 294px;
}

.image-header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.webstudio-bottom {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-color);
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-styling {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-link-color);
}

.decoration-none {
  text-decoration: none;
}

.box-styling {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.central-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.lorem-topic {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lorem-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.main-page-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-page-text-header-color);
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
